<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="/public/css/main.css" />

    <title>mkthink</title>
  </head>
  <body>
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 15)	Qual a chave para coordenação entre as áreas funcionais? </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%- root%>/pergunta15" class = "btn btn-primary button button-primary button-neutro">	Garantir que as áreas funcionais mantenham linhas de comunicação abertas em todos os momentos. </a>
        
                </p>
                <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Garantir que as áreas funcionais mantenham linhas de comunicação abertas, apenas, em um momento específico de avaliação, E depois mantenha-se fechado.</a> 
                        
                </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	É necessário garantir o controle para que as linhas de comunicações fiquem sempre fechadas. </a>
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>
  </body>
</html>

 