<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="/public/css/main.css" />

    <title>mkthink</title>
  </head>
  <body>
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 18)	Porque fazer um plano de marketing?</p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="gameover.html" class = "btn btn-primary button button-primary button-neutro"> Porque o Marcio falou ser bom.</a> </p> 
                  

        <p> <a href="gameover.html" class = "btn btn-primary button button-primary button-neutro"> Chegou até aqui, então tome a vitória, é a de baixo</a> 
                        
        </p>
        <p> <a href="venceu.html" class = "btn btn-primary button button-primary button-neutro"> Para elevar a consciência da marca e sua autoridade junto ao mercado</a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>
  </body>
  </html>

 